.App {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
}

.header {
  background-color: #F34213;
  width: 100%;
  height: 90px;
  padding-bottom: 30px;
}

.headerLogo {
  padding: 10px;
}

.descriptions{
  display: flex;
}

.bodyParagraph {
  background-color: #F34213;
  padding: 30px;
  color: white;
  border-radius: 10px;
  margin: 10px;
  font-weight: 300;
  font-size: calc(1.5vmin + 3px);
}

.links {
  display: flex;
  padding: 30px;
  color: #F34213;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-evenly;
}

.link {
  font-size: 6vmin;
  padding: 2vmin;
}

.dropdownContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown {
  width: 80%;
}

.slideshow {
  background-color: blue;
  height: 400px;
  width: 90%;
  margin-top: 50px;
}

.slideshowContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trio {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.location {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 180px;
  left: 30%;
  padding: 30px;
  border-radius: 10px;
  background-color: #F34213;
}